# ==============================================================================
# FICHIER DE CONFIGURATION GLOBAL (ENVIRONNEMENT)
# Rôle : Centralise les variables d'environnement pour tous les microservices.
# ==============================================================================

# --- CONFIGURATION SYSTÈME & INFRASTRUCTURE ---
PORT_AUTH_GATEWAY=8080
PORT_METADATA_SERVICE=8081
VALKEY_URL=redis://valkey:6379

# --- BASES DE DONNÉES ---
POSTGRES_METADATA_URL=postgres://admin:secret@postgres_meta:5432/bi_metadata?sslmode=disable
DWH_CLICKHOUSE_URL=http://dwh_user:dwh_pass@clickhouse_dwh:8123/default

# --- SÉCURITÉ ---
JWT_SECRET=super-secret-key-change-me-in-production
ENCRYPTION_KEY=32-character-long-encryption-key-!!! # Doit faire 32 caractères pour AES-256

# --- CACHE PHYSIQUE ---
DEEP_CACHE_DIR=/var/lib/bi_cache
DEEP_CACHE_SIZE_LIMIT_GB=5

# --- MODULES D'AUTHENTIFICATION EXTENSIBLES (FLAGS) ---
AUTH_ENABLE_LOCAL=true
AUTH_ENABLE_LDAP=false
AUTH_ENABLE_SSO=false

# CONFIGURATION LDAP (Si activé)
LDAP_SERVER_URL=ldaps://ldap.entreprise.local:636
LDAP_BASE_DN=DC=entreprise,DC=local

# CONFIGURATION SSO OIDC (Si activé)
SSO_PROVIDER_URL=https://accounts.google.com
SSO_CLIENT_ID=your-google-client-id
SSO_CLIENT_SECRET=your-google-client-secret
SSO_REDIRECT_URL=http://localhost:8080/api/v1/auth/callback

# --- MAILING ---
SMTP_HOST=maildev
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
MAIL_FROM=noreply@bi-platform.local
